@CHARSET "ISO-8859-1";
.d3-tip {
	line-height: 1;
	font-weight: bold;
	padding: 12px;
	background: rgba(0, 0, 0, 0.8);
	color: #fff;
	border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
	box-sizing: border-box;
	display: inline;
	font-size: 10px;
	width: 100%;
	line-height: 1;
	color: rgba(0, 0, 0, 0.8);
	content: "\25BC";
	position: absolute;
	text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
	margin: -1px 0 0 0;
	top: 100%;
	left: 0;
}

#monthChart {
	text-align: center;
}

#monthChart .line {
	stroke: rgb(247, 150, 29);
	stroke-width: 2;
	fill: none;
}

#monthChart .axis {
	shape-rendering: crispEdges;
}

#monthChart .x.axis line {
	stroke: rgba(88, 89, 93, .12);
}

#monthChart .x.axis .minor {
	stroke-opacity: .5;
}

#monthChart .x.axis path {
	display: none;
}

#monthChart .y.axis line,.y.axis path {
	fill: none;
	stroke: rgba(88, 89, 93, .5);
}

#monthChart .axis path,#monthChart .axis line {
	fill: none;
	shape-rendering: crispEdges;
}

#monthChart .axis text {
	font: 10px sans-serif;
	fill: rgba(88, 89, 93, .5);
}